{% extends 'base.html' %}
{% block contents %}
    <div class="card mb-4">
        <h5 class="card-header">원서접수 가능 기간</h5>
        <div class="card-body text-center">
            <h3 class="fw-bold">2021-11-23 09:00:00</h3>
            <h3 class="fw-bold">~ 2021-11-24 17:00:00</h3>
            <h1 class="display-3 {{ d_day_color }}">D{{ d_day }}</h1>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">원서접수</h5>
                <div class="card-body text-center">
                    <h3 class="fw-bold">
                        {% if recruit_status == 0 %}
                            <span class="{{ d_day_color }}">원서접수 불가</span>
                        {% elif recruit_status == 1 %}
                            <span class="{{ d_day_color }}">원서접수 가능</span>
                        {% else %}
                            <span class="{{ d_day_color }}">원서접수 완료</span>
                        {% endif %}
                    </h3>
                    <a href="/docs/" class="btn btn-secondary btn-lg mt-2">접수방법</a>
                    {% if recruit_status == 1 %}<a href="/recruit/" class="btn btn-primary btn-lg mt-2 ms-2">접수하기</a>{% endif %}
                    {% if recruit_status > 0 %}<a href="/confirm/" class="btn btn-success btn-lg mt-2 ms-2">접수확인</a>{% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">문의전화</h5>
                <div class="card-body text-center">
                    <h1 class="fw-bold"><a href="tel:02-354-5432" class="text-decoration-none">02-354-5432</a></h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}