{% extends 'base.html' %}
{% block container %}
    {% if auth_available %}
        <h1 class="text-center">인증</h1>
        <form action="" method="POST">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </form>
    {% else %}
        <h1 class="text-danger text-center">인증 가능한 날짜가 아닙니다.</h1>
    {% endif %}
{% endblock %}