{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>신입생 원서접수</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <div class="container">
            <a class="navbar-brand" href="/">세명컴퓨터고등학교 원서접수</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'recruit' %}active{% endif %}" aria-current="page"
                           href="/recruit/">접수하기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'confirm' %}active{% endif %}" aria-current="page"
                           href="/confirm/">접수확인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'docs' %}active{% endif %}" aria-current="page"
                           href="/docs/">접수방법</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'status' %}active{% endif %}" aria-current="page"
                           href="/status/">실시간 지원현황</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block container %}
    {% endblock %}
</main>
</body>
</html>