{% extends 'base.html' %}
{% block contents %}
    {% if recruit_available %}
        <h1 class="text-center">원서접수</h1>
        <h2>제출 서류 안내</h2>
        <p>제출한 서류들(인증서, 자격증 등)은 반드시 원본대조필을 거쳐야 하며, 서류 위조가 확인되면 입학이 취소될 수 있습니다.</p>
        <h2>개인정보 제공 동의 안내</h2>
        <p>원서를 접수하기 위해서는 반드시 개인정보 제공에 동의해야 합니다.</p>
        <div class="text-center">
            <a href="{% url 'recruit-form-info' %}" class="btn btn-primary">접수하기</a>
        </div>
    {% else %}
        <h1 class="text-danger text-center">접수가능한 날짜가 아닙니다.</h1>
    {% endif %}
{% endblock %}