{% extends 'base.html' %}
{% block contents %}
    {% if recruit_available %}
        <h1 class="text-center">원서접수</h1>
        <h2>정보 입력</h2>
        <form action="{% url 'recruit-form-receive' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="inputName" class="col-sm-2 col-form-label">이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputName" maxlength="5" name="name"
                           placeholder="이름은 5자까지 입력할 수 있습니다." value="{{ name }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputFirstMajor" class="col-sm-2 col-form-label">1지망 학과</label>
                <div class="col-sm-10">
                    <select name="first_major" id="inputFirstMajor" class="form-control form-select">
                        <option value="0" {% if first_major is None %}selected{% endif %}>1지망 학과는 필수입니다.</option>
                        <option value="1" {% if first_major == '1' %}selected{% endif %}>스마트보안솔루션과</option>
                        <option value="2" {% if first_major == '2' %}selected{% endif %}>디바이스소프트웨어과</option>
                        <option value="3" {% if first_major == '3' %}selected{% endif %}>인공지능소프트웨어과</option>
                        <option value="4" {% if first_major == '4' %}selected{% endif %}>게임소프트웨어과</option>
                    </select>
                </div>
            </div>
        <div class="row mb-3">
                <label for="inputSecond" class="col-sm-2 col-form-label">2지망 학과</label>
                <div class="col-sm-10">
                    <select name="second_major" id="inputSecond" class="form-control form-select">
                        <option value="0" {% if second_major is None %}selected{% endif %}>2지망 학과는 선택입니다.</option>
                        <option value="1" {% if second_major == '1' %}selected{% endif %}>스마트보안솔루션과</option>
                        <option value="2" {% if second_major == '2' %}selected{% endif %}>디바이스소프트웨어과</option>
                        <option value="3" {% if second_major == '3' %}selected{% endif %}>인공지능소프트웨어과</option>
                        <option value="4" {% if second_major == '4' %}selected{% endif %}>게임소프트웨어과</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputSchool" class="col-sm-2 col-form-label">학교</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputSchool" maxlength="30" name="school"
                           placeholder="검정고시는 '검정고시'를 입력하세요." value="{{ school }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputGrade" class="col-sm-2 col-form-label">학년</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputGrade" maxlength="1" name="grade"
                           placeholder="검정고시는 입력하지 마세요." value="{{ grade }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="input_Class" class="col-sm-2 col-form-label">반</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="input_Class" maxlength="2" name="class_"
                           placeholder="검정고시는 입력하지 마세요." value="{{ class_ }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">번호</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputNumber" maxlength="2" name="number"
                           placeholder="검정고시는 입력하지 마세요." value="{{ number }}">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_st" class="col-sm-2 col-form-label">학생 전화번호</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTel_st" maxlength="11" name="tel_st"
                           placeholder="-를 제외한 숫자만 입력하세요." value="{{ tel_st }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_pa" class="col-sm-2 col-form-label">학부모 전화번호</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputTel_pa" maxlength="11" name="tel_pa"
                           placeholder="-를 제외한 숫자만 입력하세요." value="{{ tel_pa }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" maxlength="4"
                           name="password" placeholder="접수 확인을 위해 사용하는 비밀번호입니다. 임의의 숫자 4자리를 입력하세요."
                           value="{{ password }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputConfirmPassword" class="col-sm-2 col-form-label">비밀번호 확인</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputConfirmPassword" maxlength="4"
                           name="confirm_password" value="{{ confirm_password }}" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inputAgree" name="agree"
                               {% if agree %}checked{% endif %} required>
                        <label class="form-check-label" for="inputAgree">
                            원서 접수를 위한 개인정보 제공에 동의합니다.
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                {% for error in error_messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
            <div class="float-end">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    접수 취소
                </button>
                <button type="submit" class="btn btn-primary">접수하기</button>
            </div>
        </form>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">원서접수를 취소하시겠습니까?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        원서접수를 취소하면 입력했던 정보를 잃어버리게 됩니다.
                        <br>
                        정말로 취소하시겠습니까?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <a href="{% url 'recruit-index' %}" class="btn btn-danger">접수 취소하기</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-danger text-center">접수가능한 시간이 아닙니다.</h1>
    {% endif %}
{% endblock %}