{% extends 'base.html' %}
{% block contents %}
    {% if recruit_available %}
        <h1 class="text-center">원서접수</h1>
        <h2>자료 입력(<span id="student-info" class="text-danger">{{ school }} {{ name }}</span>)</h2>
        <form action="{% url 'recruit-form-documents' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                {% for error in error_messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
            <div class="float-end">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    접수 취소
                </button>
                <button type="submit" class="btn btn-primary">접수하기</button>
            </div>
        </form>
        <script>
            window.onload = () => {
                let student_info = document.getElementById('student-info');

                while(true) {
                    student_info.classList.replace('text-danger', 'text-primary');
                    setTimeout(() => {}, 500);
                    student_info.classList.replace('text-primary', 'text-danget');
                    setTimeout(() => {}, 500);
                }
            }
        </script>
    {% else %}
        <h1 class="text-danger text-center">접수가능한 날짜가 아닙니다.</h1>
    {% endif %}
{% endblock %}