@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.crossed {
    background-image: linear-gradient(to top right, transparent calc(50% - 1px), #dee2e6, transparent calc(50% + 1px));
}

.hangeul-download-btn {
    background-color: #209ddf;
    color: #ffffff;
}

.hangeul-download-btn > img {
    width: 18px;
    height: 18px;
}

.pdf-download-btn {
    background-color: #ff0000;
    color: #ffffff;
}