@charset "UTF-8";

* {
    font-family: 'Noto Sans KR', sans-serif;
}

.errorlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}