{% extends 'base.html' %}
{% load static %}
{% block wrap %}
    {% if user_st > 0 %}
        이미 로그인되어있습니다. <a href="javascript:history.back()" class="text-decoration-none">뒤로가기</a>
    {% else %}
        <form class="row m-auto" style="width: 300px;" id="signin-form">
            {% csrf_token %}
            <h1 class="text-center">교사 로그인</h1>
            <div class="alert alert-warning m-auto mb-3 text-center" role="alert" style="width: 276px;">
                학생은 사용이 불가능합니다.
                <br>
                교사만 이용가능합니다.
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="signin-id-input" placeholder="아이디">
                <label for="signin-id-input" style="margin-left: 11px;">아이디</label>
                <div id="signin-id-validation-feedback" class="invalid-feedback"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="signin-password-input" placeholder="비밀번호">
                <label for="signin-password-input"
                       style="margin-left: 11px;">비밀번호</label>
                <div id="signin-password-validation-feedback" class="invalid-feedback"></div>
            </div>
            <button class="btn btn-primary m-auto" id="signin-btn" type="submit" style="width: 276px;">
                로그인
            </button>
            <a href="/teacher/signup/" class="text-primary text-decoration-none">교사 회원가입</a>
        </form>
        <script src="{% static 'js/managementCsrf.js' %}"></script>
        <script src="{% static 'js/signinValidation.js' %}"></script>
    {% endif %}
{% endblock %}