{% extends 'base.html' %}
{% load static %}
{% block container %}
    <form class="m-auto w-75" method="POST">
        {% csrf_token %}
        <h1 class="text-center">교사 회원가입</h1>
        <div class="alert alert-warning m-auto mb-3 text-center" role="alert">
            학생은 사용이 불가능합니다. 교사만 이용가능합니다.
        </div>
        <div class="row mb-3">
            <label for="{{ form.user_id.id_for_label }}"
                   class="col-sm-3 col-form-label">{{ form.user_id.label }}</label>
            <div class="col-sm-9">
                {{ form.user_id }}
                <div id="signup-id-validation-feedback" class="invalid-feedback">
                    {{ form.user_id.errors }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.user_password.id_for_label }}"
                   class="col-sm-3 col-form-label">{{ form.user_password.label }}</label>
            <div class="col-sm-9">
                {{ form.user_password }}
                <div id="signup-password-validation-feedback" class="invalid-feedback">
                    {{ form.user_password.errors }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.user_confirm_password.id_for_label }}"
                   class="col-sm-3 col-form-label">{{ form.user_confirm_password.label }}</label>
            <div class="col-sm-9">
                {{ form.user_confirm_password }}
                <div id="signup-confirm-password-validation-feedback" class="invalid-feedback">
                    {{ form.user_confirm_password.errors }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.user_name.id_for_label }}"
                   class="col-sm-3 col-form-label">{{ form.user_name.label }}</label>
            <div class="col-sm-9">
                {{ form.user_name }}
                <div id="signup-name-validation-feedback" class="invalid-feedback">
                    {{ form.user_name.errors }}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="{{ form.user_team.id_for_label }}"
                   class="col-sm-3 col-form-label">{{ form.user_team.label }}</label>
            <div class="col-sm-9">
                {{ form.user_team }}
                <div id="signup-team-validation-feedback" class="invalid-feedback">
                    {{ form.user_team.errors }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="signup-btn">
            <span class="spinner-border spinner-border-sm visually-hidden" id="signup-btn-spinner" role="status"
                  aria-hidden="true"></span>
            <span class="visually-hidden">Loading...</span>
            회원가입
        </button>
    </form>
    <script src="{% static 'js/signupValidation.js' %}"></script>
{% endblock %}