{% extends 'base.html' %}
{% block contents %}
    {% if request.user.is_authenticated %}
        {% if student %}
            <h1 class="text-center">가산점 채점</h1>
            <div class="row mb-3">
                <label for="inputName" class="col-sm-3 col-form-label">이름</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputName">
                        {{ student.name }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputFirstMajor" class="col-sm-3 col-form-label">1지망</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputFirstMajor">
                        {% if student.first_major == '1' %}
                            스마트보안솔루션과
                        {% elif student.first_major == '2' %}
                            디바이스소프트웨어과
                        {% elif student.first_major == '3' %}
                            인공지능소프트웨어과
                        {% elif student.first_major == '4' %}
                            게임소프트웨어과
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputSecondMajor" class="col-sm-3 col-form-label">2지망</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputSecondMajor">
                        {% if student.second_major == '0' %}
                            2지망 학과를 입력하지 않았습니다.
                        {% elif student.second_major == '1' %}
                            스마트보안솔루션과
                        {% elif student.second_major == '2' %}
                            디바이스소프트웨어과
                        {% elif student.second_major == '3' %}
                            인공지능소프트웨어과
                        {% elif student.second_major == '4' %}
                            게임소프트웨어과
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputSchool" class="col-sm-3 col-form-label">학교</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputSchool">
                        {{ student.school }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputGrade" class="col-sm-3 col-form-label">학년</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputGrade">
                        {% if student.grade %}
                            {{ student.grade }}
                        {% else %}
                            <span class="text-secondary">{{ student.school }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="input_Class" class="col-sm-3 col-form-label">반</label>
                <div class="col-sm-9">
                    <div class="form-control" id="input_Class">
                        {% if student.Class %}
                            {{ student.Class }}
                        {% else %}
                            <span class="text-secondary">{{ student.school }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputNumber" class="col-sm-3 col-form-label">번호</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputNumber">
                        {% if student.number %}
                            {{ student.number }}
                        {% else %}
                            <span class="text-secondary">{{ student.school }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_st" class="col-sm-3 col-form-label">학생 전화번호</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputTel_st">
                        {{ student.tel_st }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_pa" class="col-sm-3 col-form-label">학부모 전화번호</label>
                <div class="col-sm-9">
                    <div class="form-control" id="inputTel_pa">
                        {{ student.tel_pa }}
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_pa" class="col-sm-3 col-form-label">온라인 SW 아카데미 수료증</label>
                <div class="col-sm-9">
                    {% if student.document.cert_online %}
                        <a href="{{ student.document.cert_online }}" class="btn btn-primary" target="_blank" download>다운로드</a>
                    {% else %}
                        <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_pa" class="col-sm-3 col-form-label">수요진로체험 수료증</label>
                <div class="col-sm-9">
                    {% if student.document.cert_offline %}
                        <a href="{{ student.document.cert_offline }}" class="btn btn-primary" target="_blank" download>다운로드</a>
                    {% else %}
                        <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputTel_pa" class="col-sm-3 col-form-label">중학생 SW경진대회 확인서</label>
                <div class="col-sm-9">
                    {% if student.document.cert_contest %}
                        <a href="{{ student.document.cert_contest }}" class="btn btn-primary" target="_blank" download>다운로드</a>
                    {% else %}
                        <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if student.score.score_4 is not None %}
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label-lg">가산점 점수</label>
                    <div class="col-sm-9">
                        <div class="form-control form-control-lg">
                            {{ student.score.score_4 }}
                        </div>
                        <div class="form-text">
                            {{ student.score.score_4_created_at }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary float-end disabled">가산점 채점이 완료되었습니다.</button>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label-lg">가산점 점수</label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-lg" type="text" name="addition">
                        </div>
                    </div>
                    <button class="btn btn-primary float-end" type="submit">입력하기</button>
                </form>
            {% endif %}
            <a href="{% url 'score-student-list' %}" class="btn btn-success float-end me-2" type="submit">목록으로</a>
        {% else %}
            <div class="alert alert-danger" role="alert">
                찾을 수 없는 학생입니다.
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            허가받은 교사만 사용가능한 기능입니다.
        </div>
    {% endif %}
{% endblock %}