{% extends 'base.html' %}
{% load static %}
{% block container %}
    <h1 class="text-center">교사 회원관리</h1>
    {% if user_exist %}
        <form class="container">
            <div class="mb-3 row">
                <div class="col-md-3 col-form-label">이름</div>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="inputPassword" value="{{ user_name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3 col-form-label">아이디</div>
                <div class="col-md-9">
                    <span class="form-control">{{ user_id }}</span></div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3 col-form-label">부서</div>
                <div class="col-md-9">
                    <select name="user_team" id="signup-team-input" class="form-select">
                        <option value="0">선택</option>
                        <option value="1" {% if user_team == 1 %}selected{% endif %}>교무기획부</option>
                        <option value="2" {% if user_team == 2 %}selected{% endif %}>교육연구부</option>
                        <option value="3" {% if user_team == 3 %}selected{% endif %}>생활안전부</option>
                        <option value="4" {% if user_team == 4 %}selected{% endif %}>교과교육부</option>
                        <option value="5" {% if user_team == 5 %}selected{% endif %}>창의체험부</option>
                        <option value="6" {% if user_team == 6 %}selected{% endif %}>취업지원부</option>
                        <option value="7" {% if user_team == 7 %}selected{% endif %}>진로상담부</option>
                        <option value="8" {% if user_team == 8 %}selected{% endif %}>홍보기획부</option>
                        <option value="9" {% if user_team == 9 %}selected{% endif %}>실과도제교육부</option>
                        <option value="10" {% if user_team == 10 %}selected{% endif %}>스마트보안솔루션과</option>
                        <option value="11" {% if user_team == 11 %}selected{% endif %}>디바이스소프트웨어과</option>
                        <option value="12" {% if user_team == 12 %}selected{% endif %}>인공지능소프트웨어과</option>
                        <option value="13" {% if user_team == 13 %}selected{% endif %}>게임소프트웨어과</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3 col-form-label">담당학교</div>
                <div class="col-md-9">
                    <span class="form-control">담당학교</span>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-3 col-form-label">권한</div>
                <div class="col-md-9 noselect">
                    <div class="row">
                        <div class="form-check col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize1" id="authorize-1"
                                   {% if user_authorize.1 %}checked{% endif %}>
                            <label for="authorize-1" class="form-check-label">가접수</label>
                        </div>
                        <div class="form-check col-6 col-md-8">
                            <input type="checkbox" class="form-check-input" value="authorize2" id="authorize-2"
                                   {% if user_authorize.2 %}checked{% endif %}>
                            <label for="authorize-2" class="form-check-label">원서접수</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize3" id="authorize-3"
                                   {% if user_authorize.3 %}checked{% endif %}>
                            <label for="authorize-3" class="form-check-label">포트폴리오 채점</label>
                        </div>
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize4" id="authorize-4"
                                   {% if user_authorize.4 %}checked{% endif %}>
                            <label for="authorize-4" class="form-check-label">자기소개서 채점</label>
                        </div>
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize5" id="authorize-5"
                                   {% if user_authorize.5 %}checked{% endif %}>
                            <label for="authorize-5" class="form-check-label">학업계획서 채점</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize6" id="authorize-6"
                                   {% if user_authorize.6 %}checked{% endif %}>
                            <label for="authorize-6" class="form-check-label">기초소양능력 채점</label>
                        </div>
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize7" id="authorize-7"
                                   {% if user_authorize.7 %}checked{% endif %}>
                            <label for="authorize-7" class="form-check-label">인성 채점</label>
                        </div>
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize8" id="authorize-8"
                                   {% if user_authorize.8 %}checked{% endif %}>
                            <label for="authorize-8" class="form-check-label">전공적성 채점</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize9" id="authorize-9"
                                   {% if user_authorize.9 %}checked{% endif %}>
                            <label for="authorize-9" class="form-check-label">학생 정보 관리</label>
                        </div>
                        <div class="form-check col-6 col-md-4">
                            <input type="checkbox" class="form-check-input" value="authorize10" id="authorize-10"
                                   {% if user_authorize.10 %}checked{% endif %}>
                            <label for="authorize-10" class="form-check-label">교사 회원 관리</label>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger float-end" type="submit">회원 삭제</button>
            <button class="btn btn-primary float-end me-2">수정</button>
        </form>
    {% else %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                사용자를 찾을 수 없습니다. <a href="/management/teacher/" class="alert-link">목록으로 돌아가기</a>
            </div>
        </div>
    {% endif %}
{% endblock %}