{% load static %}
<!DOCTYPE html>
<html lang="ko" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>신입생 원서접수</title>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">세명컴퓨터고 신입생 특별전형 원서접수</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'info' %}active{% endif %}" aria-current="page"
                           href="{% comment %}{% url 'info' %}{% endcomment %}">모집요강</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'recruit' %}active{% endif %}" aria-current="page"
                           href="{% comment %}{% url 'recruit' %}{% endcomment %}">접수하기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'confirm' %}active{% endif %}" aria-current="page"
                           href="/confirm/">접수확인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'docs' %}active{% endif %}" aria-current="page"
                           href="/docs/">접수방법</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if navbar == 'status' %}active{% endif %}" aria-current="page"
                           href="/status/">
                            {#                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"#}
                            {#                                 class="bi bi-clock" viewBox="0 0 16 16">#}
                            {#                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>#}
                            {#                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>#}
                            {#                            </svg>#}
                            실시간 지원현황
                        </a>
                    </li>
                    {% if user_st > 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if navbar == 'management' %}active{% endif %}"
                               href="#"
                               id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                관리
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user_st_bit.2 == 1 %}
                                    <li><a class="dropdown-item" href="#">가접수</a></li>{% endif %}
                                {% if user_st_bit.3 == 1 %}
                                    <li><a class="dropdown-item" href="#">원서접수</a></li>{% endif %}
                                {% if user_st >= 4 %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>{% endif %}
                                {% if user_st_bit.4 == 1 %}
                                    <li><a class="dropdown-item" href="#">포트폴리오 채점</a></li>{% endif %}
                                {% if user_st_bit.5 == 1 %}
                                    <li><a class="dropdown-item" href="#">자기소개서 채점</a></li>{% endif %}
                                {% if user_st_bit.6 == 1 %}
                                    <li><a class="dropdown-item" href="#">학업계획서 채점</a></li>{% endif %}
                                {% if user_st_bit.7 == 1 %}
                                    <li><a class="dropdown-item" href="#">기초소양능력 채점</a></li>{% endif %}
                                {% if user_st_bit.8 == 1 %}
                                    <li><a class="dropdown-item" href="#">인성 채점</a></li>{% endif %}
                                {% if user_st_bit.9 == 1 %}
                                    <li><a class="dropdown-item" href="#">전공적성 채점</a></li>{% endif %}
                                {% if user_st >= 512 %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>{% endif %}
                                {% if user_st_bit.10 == 1 %}
                                    <li><a class="dropdown-item" href="#">학생 정보 관리</a></li>{% endif %}
                                {% if user_st_bit.11 == 1 %}
                                    <li><a class="dropdown-item" href="/management/teacher/">교사 회원 관리</a>
                                    </li>{% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="d-flex navbar-nav">
                    <li class="nav-item">
                        {% if user_st > 0 %}
                            <a class="nav-link" aria-current="page" href="/teacher/signout/">
                                로그아웃
                            </a>
                        {% else %}
                            <a class="nav-link" aria-current="page"
                               href="{% comment %}{% url 'teacher-signin' %}{% endcomment %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"></path>
                                    <path fill-rule="evenodd"
                                          d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1. 5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                </svg>
                                교사 로그인
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block contents %}
    {% endblock %}
</main>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">세명컴퓨터고 신입생 특별전형 원서접수</span>
    </div>
</footer>
</body>
</html>