{% extends 'base.html' %}
{% block contents %}
    <h1 class="text-center">접수확인</h1>
    <div class="row mb-3">
        <label for="inputName" class="col-sm-3 col-form-label">이름</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputName">
                {{ name }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputNeisNumber" class="col-sm-3 col-form-label">수험번호</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputNeisNumber">
                {% if neis_number %}
                    {{ neis_number }}
                {% else %}
                    수험번호가 아직 할당되지 않았습니다.
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputFirstMajor" class="col-sm-3 col-form-label">1지망</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputFirstMajor">
                {% if first_major == '1' %}
                    스마트보안솔루션과
                {% elif first_major == '2' %}
                    디바이스소프트웨어과
                {% elif first_major == '3' %}
                    인공지능소프트웨어과
                {% elif first_major == '4' %}
                    게임소프트웨어과
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputSecondMajor" class="col-sm-3 col-form-label">2지망</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputSecondMajor">
                {% if second_major == '0' %}
                    2지망 학과를 입력하지 않았습니다.
                {% elif second_major == '1' %}
                    스마트보안솔루션과
                {% elif second_major == '2' %}
                    디바이스소프트웨어과
                {% elif second_major == '3' %}
                    인공지능소프트웨어과
                {% elif second_major == '4' %}
                    게임소프트웨어과
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputStCode" class="col-sm-3 col-form-label">2지망</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputStCode">
                {{ neis_number }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputSchool" class="col-sm-3 col-form-label">학교</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputSchool">
                {{ school }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputGrade" class="col-sm-3 col-form-label">학년</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputGrade">
                {{ grade }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="input_Class" class="col-sm-3 col-form-label">반</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="input_Class">
                {{ class_ }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputNumber" class="col-sm-3 col-form-label">번호</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputNumber">
                {{ number }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_st" class="col-sm-3 col-form-label">학생 전화번호</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputTel_st">
                {{ tel_st }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_pa" class="col-sm-3 col-form-label">학부모 전화번호</label>
        <div class="col-sm-9">
            <div type="text" class="form-control" id="inputTel_pa">
                {{ tel_pa }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_pa" class="col-sm-3 col-form-label">자기소개서 및 학업계획서</label>
        <div class="col-sm-9">
            <a href="{{ docu_integrated }}" class="btn btn-primary" download>다운로드</a>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_pa" class="col-sm-3 col-form-label">온라인 SW 아카데미 수료증</label>
        <div class="col-sm-9">
            {% if cert_online %}
                <a href="{{ cert_online }}" class="btn btn-primary" download>다운로드</a>
            {% else %}
                <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_pa" class="col-sm-3 col-form-label">SW 아카데미 수료증</label>
        <div class="col-sm-9">
            {% if cert_offline %}
                <a href="{{ cert_offline }}" class="btn btn-primary" download>다운로드</a>
            {% else %}
                <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
            {% endif %}
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputTel_pa" class="col-sm-3 col-form-label">자격증</label>
        <div class="col-sm-9">
            {% if cert_license %}
                <a href="{{ cert_license }}" class="btn btn-primary" download>다운로드</a>
            {% else %}
                <a href="#" class="btn btn-secondary disabled">입력하지 않음</a>
            {% endif %}
        </div>
    </div>
{% endblock %}